/* .ourteam{
    margin:2rem;
} */
.item img{
    display: block;
    width: 100%;
}
.ourTeam_container{
    background:white;
    margin:1rem 0 ;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team_whole_container{
    padding:2rem 0;
}
.team_prop{
    padding:2rem;
}
@media screen and (max-width:800px) {
    .ourteam{
        margin:.5rem;
    }
    .team_prop{
        padding: 2rem 0rem;
    }
}