div .recent_works{
  background-color: white;
  margin:0;
  max-width:1400px;
}
.ourWorks_button {
  background-color: lightblue;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 1rem;

}
div .recentwork_hr{
  height: 75px;
  width: 400px;
  text-align: center;
  border-bottom: 1px solid orangered;
  padding-top: 35px;
}
.ourWorks_button a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.ourWorks_button:hover {
  background-color: rgba(0, 0, 0, 0.253);
}
.flip-card {
  background-color: transparent;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: rgba(0, 0, 0, 0.24);
  color: black;
  transform: rotateY(180deg);
  padding: 5px;
}
.flip-card-front .long_image{
  height:600px;
}
@media only screen and (max-width: 350px){
div .recentwork_hr{
  height:90px;
}
.recent_works{
  padding: 0 .5rem;
}
}
