.first img{
    /* height: 70%;
    width: 100%; */
    /* opacity: 0.8; */
}
.first{
    /* background-color: black !important; */
}
.first h3{
    color:rgb(255, 255, 255) !important;
    letter-spacing: 0.06em;
    font-family: sans-serif;
    font-weight: 400;

}
.first p{
    color:rgb(255, 251, 251) !important; 
    letter-spacing: 0.06em;
    font-family: sans-serif;
    font-size: large;
    /* font-weight: 400; */
}
@media only screen and (max-width: 820px){
    /* div .first{
        margin-top: 6.2rem;
    } */
    img{
        width:100%;
    }
    .first p{
        letter-spacing: 0.03em;
        line-height: 100%;
        font-size: 1.5rem;
        /* margin-top: 2em; */
        color: rgb(0, 0, 0);
     }
}
@media only screen and (max-width: 768px){
    /* div .first{
        margin-top: 6.2rem;
    } */
    img{
        width: 100%;
    }
    .first p{
        letter-spacing: 0.03em;
        line-height: 100%;
        font-size: 1.5rem;
        /* margin-top: 2em; */
        color: rgb(0, 0, 0);
     }
}
@media only screen and (max-width: 712px){
    div .first{
        margin-top: 6rem;
    }
    .first p{
        letter-spacing: 0.03em;
        line-height: 100%;
        font-size: 1.5rem;
        /* margin-top: 2em; */
        color: rgb(0, 0, 0);
     }
}
@media only screen and (max-width: 540px){
    /* div .first{
        margin-top: 6.2rem;
    } */
    img{
        width: 100%;
    }
    .first p{
        letter-spacing: 0.02em;
        line-height: 90%;
        font-size: 1rem;
        /* margin-top: 2em; */
        color: rgb(0, 0, 0);
     }
}
@media only screen and (max-width: 412px){
    /* div .first{
        margin-top: 6.3rem;
    } */
    img{
        width: 100%;
    }
    .first p{
       letter-spacing: 0.02em;
       line-height: 80%;
       font-size: 0.8rem;
       /* margin-top: 2em; */
       color: rgb(0, 0, 0);
    }
}
@media only screen and (max-width: 375px){
    div .first{
        margin-top: 6.2rem;
    }
    .first p{
        color:rgb(247, 241, 241) !important; 
        letter-spacing: 0.001em;
        font-family: sans-serif;
        font-size: smaller;
      
    }
}
@media only screen and (max-width: 280px){
    div .first{
        margin-top: 6.3rem;
    }
    .first p{
        letter-spacing: 0.01em;
        line-height: 70%;
        font-size: 0.6rem;
        /* margin-top: 2em; */
        color: rgb(0, 0, 0);
        margin-bottom: -1em;
     }
}
